/* mixins, variables, etc. */

/* $grayMediumLight: #f1f1f1; */

/**, *::before, *::after {*/
/*  box-sizing: border-box;*/
/*}*/

/* universal */

.link {
  stroke-width:3px;
}

svg {
  background-color: #f1f1f1;


}

html {
  background-color: #f1f1f1;
  height: 768px;

}

body {
  min-width: 780px;
  min-height: 700px;
  background-color: #f1f1f1;
}



